<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GraphConstraint -->
      <package
            uri="http://www.example.org/GraphConstraint"
            class="GraphConstraint.GraphConstraintPackage"
            genModel="model/GraphConstraint.genmodel"/>
   </extension>

</plugin>
