<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Symmetric -->
      <package
            uri="http://www.sidiff.org/difference/symmetric/1.0"
            class="symmetric.SymmetricPackage"
            genModel="model/Symmetric.genmodel"/>
   </extension>

</plugin>
